In [1]:
import itertools
import os
import numpy as np
import pandas as pd
import requests
from IPython.display import clear_output

Load files

In [2]:
aus_suburbs = pd.read_csv(os.path.join('aus_suburbs.csv'), index_col=0)
adelaide_suburbs = pd.read_csv(('city_suburbs/adelaide_suburbs.csv'), index_col=0)
brisbane_suburbs = pd.read_csv(('city_suburbs/brisbane_suburbs.csv'), index_col=0)
canberra_suburbs = pd.read_csv(('city_suburbs/canberra_suburbs.csv'), index_col=0)
darwin_suburbs = pd.read_csv(('city_suburbs/darwin_suburbs.csv'), index_col=0)
hobart_suburbs = pd.read_csv(('city_suburbs/hobart_suburbs.csv'), index_col=0)
melbourne_suburbs = pd.read_csv(('city_suburbs/melbourne_suburbs.csv'), index_col=0)
perth_suburbs = pd.read_csv(('city_suburbs/perth_suburbs.csv'), index_col=0)
sydney_suburbs = pd.read_csv(('city_suburbs/sydney_suburbs.csv'), index_col=0)

Function to drop unneccessary columns

In [3]:
# Drop columns function
def drop_columns(suburb_csv):
    suburb_csv = suburb_csv.drop(['State',
                                  'Population',
                                  'distance',
                                  'geometry',
                                  'area',
                                  'density'], axis=1)
    return suburb_csv

In [4]:
aus_suburbs = drop_columns(aus_suburbs)
adelaide_suburbs = drop_columns(adelaide_suburbs)
brisbane_suburbs = drop_columns(brisbane_suburbs)
canberra_suburbs = drop_columns(canberra_suburbs)
darwin_suburbs = drop_columns(darwin_suburbs)
hobart_suburbs = drop_columns(hobart_suburbs)
melbourne_suburbs = drop_columns(melbourne_suburbs)
perth_suburbs = drop_columns(perth_suburbs)
sydney_suburbs = drop_columns(sydney_suburbs)

# Search for local venues for each every suburb with Foursquare API

### Define Foursquare credentials and version

In [5]:
FOURSQUARE_CLIENT_ID = 'JVA5H5NJXBQTUPSMHXXD0V0NKNP0OVJO0GKU1WJGLER5Q0DU'
FOURSQUARE_SECRET = 'DMZV42OBBRZNSPQSGEUD3PE3N5EHUKRZYRTMSCLSORKPAO2W'
FOURSQUARE_API_VERSION = '20180605'

In [6]:
CLIENT_ID = FOURSQUARE_CLIENT_ID # Foursquare ID
CLIENT_SECRET = FOURSQUARE_SECRET # Foursquare Secret
VERSION = FOURSQUARE_API_VERSION # Foursquare API version

print('Credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Credentails:
CLIENT_ID: JVA5H5NJXBQTUPSMHXXD0V0NKNP0OVJO0GKU1WJGLER5Q0DU
CLIENT_SECRET:DMZV42OBBRZNSPQSGEUD3PE3N5EHUKRZYRTMSCLSORKPAO2W

Function that gets the local venues for each suburb

In [7]:
def getNearbyVenues(names, postcode, lga, city, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    index = 0
    for name, postcode, lga, city, lat, lng in zip(names, postcode, lga, city, latitudes, longitudes):
        print('{}, {}'.format(name, city))
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        if results:
            venues_list.append([(
                                 name,
                                 postcode,
                                 lga,
                                 city,
                                 lat, 
                                 lng, 
                                 v['venue']['name'], 
                                 v['venue']['location']['lat'], 
                                 v['venue']['location']['lng'],  
                                 v['venue']['categories'][0]['name']
                                ) for v in results])
            
        # for suburbs that didn't return any top venues
        elif not results:
            venues_list.append([(
                                 name,
                                 postcode,
                                 lga,
                                 city,
                                 lat, 
                                 lng, 
                                 None, 
                                 None, 
                                 None,  
                                 None
                                )])
    
    clear_output()
    
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = [
                             'Suburb',
                             'Postcode',
                             'LGA',
                             'City',
                             'Suburb Latitude', 
                             'Suburb Longitude', 
                             'Venue', 
                             'Venue Latitude', 
                             'Venue Longitude', 
                             'Venue Category'
                            ]
    
    return(nearby_venues)

Function that loops the function above.

In [8]:
# Explore suburbs
def venue_loop(suburb_df):
    while True:
        try:
            venues = getNearbyVenues(names=suburb_df['Suburb'],
                             postcode=suburb_df['Postcode'],
                             lga=suburb_df['LGA'],
                             city=suburb_df['City'],
                             latitudes=suburb_df['LAT'],
                             longitudes=suburb_df['LON'])
        except(KeyError):
            continue
        break
    return venues

In [9]:
adelaide_venues = venue_loop(adelaide_suburbs)

In [10]:
brisbane_venues = venue_loop(brisbane_suburbs)

In [11]:
canberra_venues = venue_loop(canberra_suburbs)

In [12]:
darwin_venues = venue_loop(darwin_suburbs)

In [13]:
hobart_venues = venue_loop(hobart_suburbs)

In [14]:
melbourne_venues = venue_loop(melbourne_suburbs)

In [15]:
perth_venues = venue_loop(perth_suburbs)

In [16]:
sydney_venues = venue_loop(sydney_suburbs)

Concatenate dataframes

In [141]:
venues = pd.concat([adelaide_venues,
                    brisbane_venues,
                    canberra_venues,
                    darwin_venues,
                    hobart_venues,
                    melbourne_venues,
                    perth_venues,
                    sydney_venues])

# Get suburb id
suburb_indexes = aus_suburbs[['Suburb_id', 'Suburb', 'Postcode']]

# Add suburbs id to venues dataframe by merging
venues = venues.merge(suburb_indexes, how = 'inner', on = ['Suburb', 'Postcode'])

# Move suburb id column to first position
cols = list(venues)
cols.insert(0, cols.pop(cols.index('Suburb_id')))
venues = venues.loc[:, cols]

The number of unique categories that can be curated from all of the returned venues

In [143]:
print('There are {} uniques categories in Sydney.'.format(len(venues['Venue Category'].unique())))

There are 454 uniques categories in Sydney.

In [144]:
venues.shape

(15872, 11)

In [145]:
unique_categories = pd.Series.unique(venues['Venue Category'])
unique_sorted = sorted(unique_categories, key=lambda x: (x is None, x))

I'll only replace a few categories the time being.

In [146]:
replace_dict = {'Venue Category': {
                                   'Coffee Shop':'Café',
                                   'Modern Greek Restaurant':'Greek Restaurant',
                                   'Rock Climbing Spot':'Climbing Gym'
                                  }
               }

venues.replace(replace_dict, inplace=True)

In [147]:
# one hot encoding
venues_onehot = pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
venues_onehot['Suburb_id'] = venues['Suburb_id'] 
venues_onehot['Suburb'] = venues['Suburb'] 
venues_onehot['Postcode'] = venues['Postcode']
venues_onehot['LGA'] = venues['LGA'] 
venues_onehot['City'] = venues['City'] 

# move neighborhood column to the first column
fixed_columns = list(venues_onehot.columns[-5:]) + list(venues_onehot.columns[:-5])
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

,Suburb_id,Suburb,Postcode,LGA,City,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,...,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,1741,Aberfoyle Park,5159,City of Onkaparinga,Adelaide,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1741,Aberfoyle Park,5159,City of Onkaparinga,Adelaide,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1741,Aberfoyle Park,5159,City of Onkaparinga,Adelaide,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1741,Aberfoyle Park,5159,City of Onkaparinga,Adelaide,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1742,Adelaide Airport,5950,City of West Torrens,Adelaide,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
venues_onehot.shape

(15872, 455)

Group suburbs and calculate the sum of the frequency of occurance for each category

In [166]:
venues_group_temp = venues_onehot.groupby(['Suburb_id', 'Suburb', 'Postcode', 'LGA', 'City']).sum().reset_index()
venues_group_temp.head()

,Suburb_id,Suburb,Postcode,LGA,City,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,...,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,0,Abbotsbury,2176,City of Fairfield,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Abbotsford,2046,City of Canada Bay,Sydney,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,Acacia Gardens,2763,City of Blacktown,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Agnes Banks,2753,"City of Hawkesbury, City of Penrith",Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Airds,2560,City of Campbelltown,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [167]:
# Save grouped dataframe
venue_categories = list(venues_onehot)
venue_categories = venue_categories[5:]

venues_group = venues_onehot.groupby(['Suburb_id', 'Suburb', 'Postcode', 'LGA', 'City'], as_index=False).sum()
venues_group.head()

,Suburb_id,Suburb,Postcode,LGA,City,Accessories Store,Adult Boutique,Advertising Agency,Afghan Restaurant,African Restaurant,...,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo,Zoo Exhibit
0,0,Abbotsbury,2176,City of Fairfield,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Abbotsford,2046,City of Canada Bay,Sydney,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,Acacia Gardens,2763,City of Blacktown,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Agnes Banks,2753,"City of Hawkesbury, City of Penrith",Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Airds,2560,City of Campbelltown,Sydney,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [168]:
print(venues_grouped.shape)
print(aus_suburbs.shape)

(2558, 455)
(2558, 7)

Function that sorts most frequent venues in descending order

In [169]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[5:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    top_ten = pd.DataFrame(row_categories_sorted.iloc[0:10])
    top_ten = top_ten.loc[(top_ten!=0).any(axis=1)]
    if len(top_ten) == 0:
        top_ten_list = [None] * num_top_venues
    else:
        top_ten_list = list(top_ten.index.values)
        if len(top_ten_list) < num_top_venues:
            n_empty_cells = num_top_venues - len(top_ten_list)
            top_ten_list.extend(itertools.repeat(None, n_empty_cells))
    
    return top_ten_list

Creating a new dataframe and display the top 10 venues for each neighbourhood

In [170]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Suburb_id', 'Suburb', 'Postcode', 'LGA', 'City']
for index in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(index+1, indicators[index]))
    except:
        columns.append('{}th Most Common Venue'.format(index+1))

# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Suburb_id'] = venues_grouped['Suburb_id'] 
venues_sorted['Suburb'] = venues_grouped['Suburb']
venues_sorted['Postcode'] = venues_grouped['Postcode']
venues_sorted['LGA'] = venues_grouped['LGA'] 
venues_sorted['City'] = venues_grouped['City'] 

for index in np.arange(venues_grouped.shape[0]):
    venues_sorted.iloc[index, 5:] = return_most_common_venues(venues_grouped.iloc[index, :], num_top_venues)

Save dataframes as csv files

In [171]:
venues.to_csv('venues.csv')
venues_grouped.to_csv('venues_grouped.csv')
venues_sorted.to_csv('venues_sorted.csv')